.rates-container{
    min-height: 300px;
    height:300px;
    width:98.5%;
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
    background-color:black;
    color:white;
    scrollbar-base-color:gray;
    font-family:'Courier New', Courier, monospace;
    padding:10px;
    font-size: 1em;
    resize: vertical;
}


@media screen and (max-width: 823px){
    
    .rates-container {
        width:98%;
        font-size: 0.8em;
    }
}
