<html>
    <div class="content" role="main">
        <body>
            <h1>Mabinogi Gachapon Simulator.</h1>
            <p> Hey fellow <a href="https://wiki.mabinogiworld.com/view/Milletian" target="_blank">Milletians</a>!
                <br>
                <br> We bring you a tool to satisfy all your gachapon pangs and cravings without the cost <small>and the in-game rewards...</small>
                <br> Anyways, MabiGacha supports the following features thus far: 
            </p>
                <ul>
                    <li> Saving a list of your loot <small>(You'll lose it all if you clear your cookies, oh no!)</small></li>
                    <li> Keeping track of your expenditures </li>
                    <li> Single Gaching </li>
                    <li> Bulk Gaching </li>
                    <li> Continual Gaching until specified item is found</li>
                </ul>
            <p>In the unfortunate event that you a roll an ultra rare drop in the simulator, I can only offer you my condolesences.</p>
            <p>For those concerned about the <b>accuracy</b> of this simulator, Mabinogi provides the item table and percentage 
            <br>for every gachapon, so rest assured! We're getting it straight from the source, beep boop.</p>
            
            <b> QUESTION: </b>
            <b>How do we use the rates to accurately create a gachapon?</b>
            <div class = "answer-container">
                <p>For the programmers of Erinn, check out the source code. Otherwise, Rates provided by Nexon are given in the format #.##%. 
                   For example, 0.16%, which when converted to decimal is 0.016 or 16/1000. <small>wow math!</small> Anyways, if you pretend gachapons are just a bunch of raffle tickets,
                   imagine that we created a thousand raffle tickets in which only 16 of them have the name of that gacha item written on it. Apply this concept to the rest of the items to make up
                   all one thousand raffles, and we simply draw tickets out of this raffle pool when you gach at random, read it, and put it back inside for the next round.</p>
            </div>

            
            <p>If you'd like to request additional features or have bugs to report, hit us up on the <a href="#">Discord</a>!
                <br><small>and we'll get to it eventually... </small> </p>
           
            <p>Signed,
                <br>&nbsp;&nbsp;&nbsp;&nbsp;Anonymous Milletians from the Alexina Server 
            </p>
        
            <hr>
            <h1>Special Thanks to icons8 for the amazing icons. </h1>
            <a href="https://icons8.com/icon/17926/rucksack" target="_blank"> Rucksack icon by Icons8</a>&nbsp;
            <a href="https://icons8.com/icon/114892/discord" target="_blank"> Discord icon by Icons8</a>&nbsp;
            <a href="https://icons8.com/icon/118557/github" target="_blank">GitHub icon by Icons8</a>&nbsp;
            <a href="https://icons8.com/icon/113082/gift" target="_blank">Gift icon by Icons8</a>&nbsp;
            <a href="https://icons8.com/icon/110481/about" target="_blank">About icon by Icons8</a> &nbsp;
        
        </body>
    </div>

</html>