
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src= "https://i.pinimg.com/originals/7f/56/2b/7f562baf600b94d02829d3b401d944ef.png"/></mat-toolbar>

    <!--horizontal Gacha Counter | NX Counter 
    <div class ="horizontalCounters">
      <img src="https://img.icons8.com/fluent/48/000000/gift--v2.png"/> <h1>Test</h1> <small>Gachapon</small>
    </div>

   -->
   <hr> 

    <mat-nav-list >
      <a mat-list-item href="#" (click)="assignComponent('loot')"> <img src="https://img.icons8.com/color/48/000000/rucksack.png"/>  Your Loot</a>
      <a mat-list-item href="#" (click)="assignComponent('gacha')"> <img src="https://img.icons8.com/bubbles/50/000000/gift.png"/>  Gach! </a>
      <a mat-list-item href="https://wiki.mabinogiworld.com/view/Wiki_Home" target="_blank"> <img src = "https://wiki.mabinogiworld.com/skins/common/images/mw/mwiki.png?83e97"/>  Wiki</a>
      <a mat-list-item href="#" > <img src="https://img.icons8.com/clouds/100/000000/discord-logo.png"/> Discord</a>
      <a mat-list-item href="#" (click)="assignComponent('about')"> <img src="https://img.icons8.com/bubbles/50/000000/about.png"/> About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Mabinogi Gachapon</span>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    
      <ng-content *ngComponentOutlet ="dummyComponent"></ng-content> <!--To use angular content projection-->
      
      <!--I always want the footer component to be projected no matter what component is loaded...-->
      <!-- Footer -->
      <app-footer></app-footer>
  
    
  </mat-sidenav-content>
</mat-sidenav-container>
