.sidenav-container {
  height: 100%;
  overflow:hidden !important;
}

.sidenav {
  width: 200px;
  background: #333333;
}

/*---ToolBar---*/
.spacer {
  flex: 1 1 auto;
}

.sidenav .mat-toolbar {
  background: #333333;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background: #333333;
  color: rgba(255, 255, 255, 0.87);
}

/*---Drawer Hide Scrollbar---*/
.mat-drawer-inner-container {
  overflow:hidden !important;
}

/*---- Horizontal Bar -----*/

hr {
  border-color: rgba(128, 128, 128, 0.596);
  border-top: 1px transparent grey;
  margin-left: 10%;
  margin-right: 10%;
}


#logo {
  margin: auto;
  margin-top: 3%;
  width: 80px;
  height: 80px;
  
}
#logo img {
  width: 100%;
  height: 100%;
}

span img{
  height: 24px;
  width: 24px;
  
}

.sidebar-footer{
  color: rgba(201, 196, 196, 0.753);
  position: absolute; 
  bottom: 2%; 
  margin-left: 10%;
  font-size: 0.8em;  
}

/*-------Horizontal GachaNX Counter-----*/
.horizontalCounters img{
  height: 20px;
  width: 20px;
  margin-left: 5%;
}

.horizontalCounters small{
  color: rgba(210, 210, 200, 0.87);
}

.horizontalCounters h1 {
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
  position:relative; 
  top: -5px; left: 5px; 
}

/*-------Item's in the Menu ----------*/

.mat-body p, .mat-body-1 p, .mat-typography p{
  color: rgba(255, 255, 255, 0.87) !important;
  text-shadow: 3px 3px black;
}

.mat-list-base .mat-list-item img {
  height: 48px;
  width: 48px;
  filter: drop-shadow(1px 2px 1px #222);
}

.mat-list-base .mat-list-item {
  color: rgba(255, 255, 255, 0.87);
}

.mat-list-base .mat-list-item:hover {
  color: green;
  text-shadow: 3px 3px black;
}
/*----------------END------------------*/

