<div class="console" #scrollframe>

  <div class="header">

    <h1><mat-slide-toggle (change)="toggleSlowMode(); sendSlowModeStatus();"> Slow Mo! (Applied on next
        gach)</mat-slide-toggle></h1>
  </div>
  <h1 style="display:inline-block;">Console Log </h1>

  <div *ngFor="let result of resultGach;let last = last;" class="item" #item>
    <p>You have obtained
      <bold [ngStyle]="{'border-bottom': '2px solid ' + getColorHexCode(result)}">[{{result}}]</bold>.
    </p>
    <div *ngIf="last && resultsFullySynced">
      <hr />
      <p>You just opened <b>{{currResultGach.length}}</b> gachapons at the cost of
        <b>{{quotedPrice?.toLocaleString()}}</b> NX.
      </p>
    </div>
  </div>
</div>