.gachaUI{
  
  border-radius: 10px;
  background-color:  rgb(38,38,38);
  
  width:100%;

  display: grid;

  grid-template-columns: 33% 33% auto;
  grid-template-areas: "title title title"
                      "image image image" 
                      "button button button"
                      "selector amount unique";

}

.mat-gray{ /*Button colour*/
    color: gray;
    background-color:  rgb(61, 61, 60);
    width:100%;
    
}
.gachaTitle{
    grid-area: title;
    color: white;
    background-color:  black;
    
    padding-top: 1vh;
    padding-left: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: 0px 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.gachaImage {
    grid-area: image;
    background-color:  rgb(38,38,38);
    padding-left: 35%;
}

.gachaImage img{
    height: 20vh;
    width: 20vh;
}
.gachaButtons{
    padding-left: 2vh;
    padding-right: 2vh;
    grid-area: button;
    background-color:  rgb(38,38,38);

}

.gachaSelector{
  grid-area: selector;
  color: green !important;
  padding-right: 1vh;
  padding-left: 2vh;
 
}

.amountSelector{
    grid-area: amount;
    padding-right: 1vh;

}

.uniqueSelector{
    grid-area: unique;
    padding-right: 2vh;
    background-color:  rgb(38,38,38);
    
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgba(200, 200, 0, 0.42) !important;
}