.gacha-card {
    background-color: rgb(51,51,51);
    box-shadow: 5px 5px 10px #888888;
    border-radius: 15px;
    overflow: vertical;
    margin: auto;
}

.header-image {
    background-image: url('assets\gachapon-images\mabinogi-secret-garden-box-webicon.png');
    background-size: cover;
}

.mat-button{
  font-size: 1em;
  color: rgb(220, 220, 220);
 }
.mat-button img{
   height: 20px;
   width: 20px;
}
.mat-card-subtitle{
    color: rgb(165, 165, 165);
}

.mat-card-image {
    background-size: cover;
    height: 200px;
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




.mat-card-content{
    background-color: rgb(58,58,58);
    height: 350px;
    border-radius: 3px;
}

.mat-card-actions{
    text-align: right;
}
.mat-card-actions .mat-button{
   background-color: black;
   display: inline-block;
}