.options {
    height: 300px;
    width:98.5%;
  
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
    overflow-y: hidden !important; /* Hide vertical scrollbar */
    background-color:black;
    color:white;
    font-family:'Courier New', Courier, monospace;
    padding:10px;
    font-size: 1em;
    
}
