<div class="options">
    <p> Please select your preferences from the following options: </p>
    <div class="inner-options">
        <mat-radio-group class="options-list" >
            <mat-radio-button value="1">
                <label for="quantities">Gach in quantities of: </label>
                <select id="quantities" name="quantities" [(value)]="selected">
                    <option value="1"> 1</option>
                    <option value="5"> 5</option>
                    <option value="10">10</option>
                </select>
          </mat-radio-button>

          <p> <br> OR </p>
            <mat-radio-button value="2">
                <form method="get" name="item">
                    <label for="browser">Gach until specified item appears: </label>
                    <input list="items">
                    <datalist id="items">
                        <option *ngFor ="let item of items" [value] ="item">
                            {{item}}
                        </option>
                    </datalist>
                </form>
          </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

