<div class="options">
    
    <p> Please select your preferences from the following options: </p>
    <div class="inner-options">
        <mat-radio-group class="options-list" [(ngModel)] = "selectedOption" >
            <!--OPTION ONE-->
            <mat-radio-button value = "bulk" (change)="radioChange('bulk')"> 
                <label for="quantities">Gach in quantities of: </label>
                <select name = "quantities" id="quantities" [(ngModel)] = "quantity" (change) = "onSelect($event, 'bulk')">
                    <option value="1" selected> 1</option>
                    <option value="5" > 5 </option>
                    <option value="10" >10</option>
                </select>
          </mat-radio-button>
          
          <p> <br> OR </p>
          <!--OPTION TWO-->
            <mat-radio-button value= "specific" (change)="radioChange('specific')">
                <form method="get" name="item">
                    <label for="browser">Gach until specified item appears: </label>
                    <!--Bug where you can select items that do not exist!-->
                    <input type ="text" name="listItems" list="items" autocomplete="off" [(ngModel)] ="selectedItem" (change) = "onSelect($event, 'specific')">
                    <datalist id="items">
                        <option *ngFor ="let item of selectedList" >
                            {{item}}
                        </option>
                    </datalist>
                </form>
          </mat-radio-button>
        </mat-radio-group>

        <!--Temporary Printout Log to test variables-->
        <br><br>
        <div>Your selected option is: {{selectedOption}}</div>
        <div> Selected item is....{{selectedItem}} </div>
        <div> You gached in bulk of...{{trueQuantity}}</div>
    </div>
</div>

