


<div class = tab-content>

    <div class="left-half">
        <article>
          <h1>Left Half</h1>
          <p> TODO rest of the stuff here</p>

         
        </article>
      </div>
      
      <div class="right-half">
       
          <mat-tab-group mat-align-tabs="start" >
            <mat-tab label="Console">
              <ng-content *ngComponentOutlet ="consoleComponent" ></ng-content> <!--To use angular content projection-->
            </mat-tab>
            <mat-tab label="Rates"> 
              <ng-content *ngComponentOutlet ="consoleComponent" ></ng-content> <!--To use angular content projection-->
            </mat-tab>
          </mat-tab-group>
        
        
      </div>

</div>

