
<div class = tab-content>

    <div class="left-half">
        <article>
          <h1>Left Half</h1>
          <p> TODO rest of the stuff here</p>
        </article>
      </div>
      
      <div class="right-half">
        <div class="topnav">
            <a class="active" href="">Console</a>
            <a href="#news"> Rates </a>
          </div>
        <div class = console>
          <h1>Console Log</h1>
          <p>1. Obtained [Santa's Helper Hat (M)] </p>
          <p>2. Obtained [Music 2x EXP Potion (1 Day)] </p>
          <p>3. Obtained [Life 2x EXP Potion (1 Day)] </p>
          <p>4. Obtained [Snowflake Hairpin] </p>
          <p>5. Obtained [Crusader 2x EXP Potion (30 min)] </p>
          <p>6. Obtained [Avelin Wig (Enchant: Oblivion)] </p>
          <p>7. Obtained [Savory Gingerman Mini-Gem] </p>
          <p>8. Obtained [Altam's Greaves (Rank 1)]  </p>
          <p>9. Obtained [Christmas Coat (M)] </p>
          <p>10. Obtained [Christmas Coat (F)] </p>
          <p>11. Obtained [Martial Arts 2x EXP Potion (1 Day)] </p>
          <p>12. Obtained [Homestead Housing Christmas Wreath] </p>
          <p>13. Obtained [Avelin's Armor (Rank 1)] </p>
          <p>14. Obtained [Forest Ranger Outfit (M)] </p>
          <p>15. Obtained [Snowflake Hairpin]</p>
          <p>16. Obtained [Life 2x EXP Potion (1 Day)]</p>
          <p>17. Obtained [Avelin Wig (Enchant: Oblivion)]</p>
          <p>18. Obtained [Homestead Housing Christmas Wreath]</p>
          <p>19. Obtained [Direct Dye Ampoule]</p>
          <p>20. Obtained [Direct Magical Instrument Dye]</p>
          <p>21. Obtained [Regular Gem Powder Upgrade Coupon]</p>
          <p>22. Obtained [Christmas Boots (M)]</p>
          <p>23. Obtained [Magic 2x EXP Potion (1 Day)]</p>
    

       
        </div>
      </div>

</div>

