
.tab-content {
  margin-top: 15%;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 85%;
  align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tab {
    background-color: #555;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    outline: none;
    border:none;
}

  /*---DESKTOP VIEW---*/
.tab:hover {
    background-color: #777;
}

.left-half {  
  margin-top: 15%;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 85%;
  align-items: center;
  width: 80%;
 
}

/*--MOBILE VIEW---*/
@media screen and (max-width: 900px){
  .left-half {  
    width: 90%;
    max-width: 90%;
    margin:auto;
    margin-top: 10%;
    
  }
}
/*--MOBILE VIEW---*/


/*--------------Scrollbar styles----------------*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
 
}
/*-------------Scrollbar styles END-----------*/

/* ------------------Gachapon/Rates NAVBAR ----------------*/

/* Add a background color to the top navigation */

/* Styles for tab labels */
.mat-tab-label {

  padding: 5px;
  background-color: rgb(51,51,51); /*So I set the color here to black */ 
  color: white;
  font-weight: 700;
  opacity: 1 !important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  
  padding: 5px;
  background-color: black;
  color:white;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {         
  height:4px;    
  background: grey;
}



/*Hide the scroll bar on the tab content*/
.mat-tab-body-content {
  overflow: hidden !important;
 
}
/* ------------------Gachapon/Rates NAVBAR END----------------*/


